{
    "root": true,
    "extends": [
        "@choseohwan/eslint-config-react"
    ],
    "plugins": [
        "@emotion"
    ],
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "rules": {
        "react/jsx-uses-react": "off",
        "react/react-in-jsx-scope": "off",
        "@emotion/jsx-import": "error",
        "@emotion/no-vanilla": "error",
        "@emotion/import-from-emotion": "error",
        "@emotion/styled-import": "error",
        "react/prop-types": [
            2,
            {
                "ignore": [
                    "children"
                ]
            }
        ],
        "@typescript-eslint/no-empty-interface": [
            "error",
            {
                "allowSingleExtends": true
            }
        ],
        "jsdoc/require-jsdoc": 0,
        "jsdoc/require-param-type": 0,
        "jsdoc/require-param-description": 0,
        "jsdoc/require-returns-description": 0,
        "jsdoc/require-returns": 0
    }
}